*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    overflow: scroll;
}
.container{
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
    flex-direction: column;
    align-items: center;
    /* align-items: center; */
}
#title_bar h1{
    width: 100%;
    background-color: aquamarine;
    color: red;
}
#request_container{
    height: 80vh;
    width: 80vh;
}
#request_container div p{
    margin: 10px;
    border: 3px, solid, white;
    padding: 5px;
    border-radius: 10px;
    /* border-color: white; */
    background-color: brown;
    /* border-right: 3px solid whitesmoke;
    border-top: 3px solid whitesmoke;
    border-left: 3px solid whitesmoke;
    border-bottom: 3px solid whitesmoke; */
}