@font-face {
    font-family: sexyFont;
    src: url(NatureBeautyPersonalUse-9Y2DK.ttf);
  }
#request_container{
    min-height: 75vh;
}
#request_header{
    margin: 10px;
}
.pointAndImage{
    display: flex;
    align-items: center;
}
#request_header img{
    height: 2.5rem;
    /* justify-self: flex-start; */

}
#request_header p{
    font-size: 2.5rem;
    /* justify-self: flex-start; */
} 
/* body {
    background: transparent;
  } */
.alert{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#requestBody{
    margin: 10px;
}
.buttons{
    display: flex;
    gap: 20%;
    padding-left: 30%;
    padding-right: 30%;
    justify-content: center;
}
#make_request{
    margin: 10px;
}
#heading{
    color: antiquewhite;
    font-family: sexyFont;
    font-size: 20vh;
    text-shadow: 4px 4px black;
    
}
.requestCards:hover{
    box-shadow: 2px 2px 2px 2px black;
    transition: 0.5s;
}
